<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="ion-text-center ion-margin-bottom">
      <ion-icon name="storefront-outline" size="large" color="primary"></ion-icon>
      <h1>Welcome Back</h1>
      <p>Sign in to your account</p>
    </div>

    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="credentials.email"
          name="email"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="credentials.password"
          name="password"
          required>
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="loading"
        class="ion-margin-top">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        {{loading ? 'Signing in...' : 'Sign In'}}
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <p>Don't have an account? <a routerLink="/register">Register here</a></p>
    </div>
  </div>
</ion-content>
